@charset "utf-8";

header {
    position:fixed;
    width:100%;
    z-index:1px;
}

footer {
    position:fixed;
    width:100%;
    bottom:1px;
    left:1px;
}

#kerdojel {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

main {
/*    position: absolute;*/
    padding-top:100px;
}

nav {
    position:absolute;
    top:110px;
    left:20px;
}

#szamol {
    position:relative;
    top: 5px;
    right: -200px;
}

form {
    position: relative;
}

#zar {
    position: absolute;
    top: 0px;
    right: 0px;
    
}